# Python
__pycache__/
*.pyc
.venv/
venv/
env/
.env

# VS Code
.vscode/

# Android Studio / IntelliJ
.idea/
**/.idea/

# Gradle
.gradle/
**/.gradle/

# Kotlin
.kotlin/
**/.kotlin/

# Android local configuration
local.properties

# Android build files
build/
**/build/

# IDE module files
*.iml

# Backend runtime files
feedsense.db
uploads/*
reports/*
qr_codes/*
